<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<button onclick="window.location.href = '/';">Back</button>

<div class="jumbotron text-center" >
    <h1>Figure Out The Words</h1>
</div>
<div class="container">

<div class="text-center">

        <form class="text-center" method="POST">
  {%for doc in docs %}
    <div>
        <h4>{{doc['word']}}</h4>

    </div>


<input type='text' name='answer' autocomplete='off' placeholder="Type your answer here" required>

    {% endfor %}

             <input type='submit' name='add' placeholder = "Add" class="btn-success">
   </form>


</div>

</body>
</html>