<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jumbled Words</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>


<div class="jumbotron text-center" >
    <h1>Jumbled Words</h1>
    </div>


<div class="container text-center">

   <a href="/jumble"><button>Jumble a Word</button></a>
    <button onclick="window.location.href = '/figureout';">Figure out the Words</button>
    <button onclick="window.location.href = '/clear';">Clear</button>

</div>

</body>
</html>